body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.grid-container {
    display: grid;
    /* 
    - repeat(): repite un patrón de columnas
    - minmax(): define un rango mínimo y máximo
    - fr: divide el espacio disponible
    - auto: ajusta al contenido
  */
    grid-template-columns: 1fr 2fr auto minmax(150px, 1fr) repeat(1, max-content);
    gap: 10px;
    background-color: #ddd;
    padding: 10px;
}

.item {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 8px;
}

/* Para mostrar los efectos del contenido */
.item:nth-child(3) {
    background: #0096c7;
    width: max-content;
}

.item:nth-child(4) {
    background: #00b4d8;
    white-space: nowrap;
}

.item:nth-child(5) {
    background: #48cae4;
    padding: 40px;
}

.nota {
    text-align: center;
    margin-top: 20px;
    color: #555;
    font-size: 1rem;
}